<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>mentorship-request-sumitted</title>
  </head>
  <body style="padding: 2%; color: black">
    <a href="https://www.mentorshub.io">
      <img
        style="margin: 5%; margin-bottom: 10px"
        src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
        alt="mentored_logo"
        width="180px"
        height="30px"
      />
    </a>

    <div style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large">
      <h2 style="text-align: left">Hello {{mentee.firstName}},</h2>
      <p>
        I hope this message finds you well. I want to personally thank you for
        taking the time to apply for our mentorship program. We were truly
        impressed by your application and the enthusiasm you demonstrated for
        seeking guidance and mentorship from {{mentor.firstName}}
        {{mentor.lastName}} on MentorsHub.
      </p>
      <p>
        However, after careful consideration and a thorough review of all
        applications, we regret to inform you that we are unable to offer you a
        mentorship placement at this time. Our decision was a difficult one, as
        we received numerous strong applications.
      </p>

      <p>
        Thank you once again for your interest in our mentorship program. We
        wish you the very best in your endeavors and hope you find the guidance
        and support you are looking for in other experienced mentors in our
        platform.
      </p>

      <p>Thank you for choosing MentorsHub for your mentorship journey.</p>
      <p>
        <a href="https://mentorshub.io/find-a-mentor">
          <button
            style="
              background-color: rgba(53, 60, 247, 0.9);
              color: white;
              border-radius: 10px;
              border-color: rgba(53, 60, 247, 0.9);
              padding-top: 1%;
              padding-bottom: 1%;
              padding-left: 2%;
              padding-right: 2%;
              font-weight: bold;
              margin-top: 2%;
              margin-bottom: 2%;
            "
          >
            Explore other mentors
          </button>
        </a>
        <br />
      </p>

      <p>Warm regards,</p>
      <p>The MentorsHub Team.</p>
    </div>

    <footer
      style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large"
    >
      This email was sent from
      <span style="color: rgba(53, 60, 247, 0.9)">MentorsHub</span>. If you'd
      rather not recieve this kind of email, you can
      <span style="color: rgba(53, 60, 247, 0.9)">unsubscribe</span> or
      <span style="color: rgba(53, 60, 247, 0.9)">
        manage your email preferences</span
      >.

      <br />
      <br />
      © 2023 MentorsHub

      <div style="margin-top: 4%">
        <img
          src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
          alt=""
          width="100"
          height="18"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215405/mentored/images/correct_twitter_icon_eu8egb.png"
          alt=""
          width="20"
          height="20"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215397/mentored/images/correct_instagram_icon_dpwmzg.png"
          alt=""
          width="20"
          height="20"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215392/mentored/images/correct_facebook_icon_sqy0t0.png"
          alt=""
          width="20"
          height="20"
        />
      </div>
    </footer>
  </body>
</html>
