<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>mentorship-request-accepted</title>
  </head>

  <body style="padding: 2%; color: black">
    <a href="https://www.mentorshub.io">
      <img
        style="margin: 5%; margin-bottom: 10px"
        src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
        alt="mentored_logo"
        width="180px"
        height="30px"
      />
    </a>

    <div style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large">
      <h2 style="text-align: left">Hello {{mentee.firstName}},</h2>
      <p>
        We hope this message finds you well. We wanted to provide you with an
        update regarding your recent mentorship request with
        {{mentor.firstName}} {{mentor.lastName}} on MentorsHub.
      </p>
      <p>
        {{mentor.firstName}} has reviewed your application and, after careful
        consideration, has chosen not to proceed with your mentorship request at
        this time. We understand that this might be disappointing, but please
        know that there are various factors that mentors consider when reviewing
        requests.
      </p>

      <p>Here's what you can do next:</p>
      <p>
        <b>Explore Other Mentors: </b>Mentors have unique expertise and
        availability. If your request has been declined by one mentor, it
        doesn't mean you can't find the perfect mentor elsewhere on MentorsHub.
        Feel free to explore other mentor profiles and submit requests to
        mentors who align with your goals.
      </p>
      <p>
        <b>Review and Refine: </b> Take a moment to review your mentorship
        request. Ensure that it accurately reflects your goals and objectives.
        You can refine your request before submitting it to another mentor.
      </p>
      <p>
        <b>Stay Positive:</b> Mentorship is about finding the right fit, and
        sometimes it takes a few attempts. Don't be discouraged; there are many
        experienced mentors on MentorsHub eager to guide you.
      </p>
      <p>
        If you have any questions or need support during this process, don't
        hesitate to reach out to our dedicated support team at
        support@mentorshub.io . We're here to assist you in finding the perfect
        mentor for your tech journey.
      </p>
      <p>
        MentorsHub is committed to helping you succeed in the tech industry, and
        we believe that the right mentor is out there for you. Keep exploring,
        keep learning, and keep growing.
      </p>
      <p>Thank you for being part of the MentorsHub community.</p>
      <p>
        Warm regards,<br />
        The MentorsHub Team.
      </p>
      <a href="https://mentorshub.io/find-a-mentor">
        <div
          style="
            background-color: rgba(53, 60, 247, 0.9);
            color: white;
            border-radius: 10px;
            border-color: rgba(53, 60, 247, 0.9);
            padding: 1% 2%;
            margin-bottom: 2%;
            font-weight: bold;
            margin-top: 2%;
            text-align: center;
            height: inherit;
          "
        >
          Explore more mentors
        </div>
      </a>
    </div>

    <footer
      style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large"
    >
      This email was sent from
      <span style="color: rgba(53, 60, 247, 0.9)">MentorsHub</span>. If you'd
      rather not recieve this kind of email, you can
      <span style="color: rgba(53, 60, 247, 0.9)">unsubscribe</span> or
      <span style="color: rgba(53, 60, 247, 0.9)">
        manage your email preferences</span
      >.

      <br />
      <br />
      © 2023 MentorsHub

      <div style="margin-top: 4%">
        <img
          src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
          alt=""
          width="100"
          height="18"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215405/mentored/images/correct_twitter_icon_eu8egb.png"
          alt=""
          width="20"
          height="20"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215397/mentored/images/correct_instagram_icon_dpwmzg.png"
          alt=""
          width="20"
          height="20"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215392/mentored/images/correct_facebook_icon_sqy0t0.png"
          alt=""
          width="20"
          height="20"
        />
      </div>
    </footer>
  </body>
</html>
