<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>mentorship-request-accepted</title>
  </head>
  <body style="padding: 2%; color: black">
    <a href="https://www.mentorshub.io">
      <img
        style="margin: 5%; margin-bottom: 10px"
        src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
        alt="mentored_logo"
        width="180px"
        height="30px"
      />
    </a>

    <div style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large">
      <h2 style="text-align: left">Hello {{mentee.firstName}},</h2>
      <p>
        We have exciting news for you! Your mentorship request with
        {{mentor.firstName}} {{mentor.lastName}} has been accepted on
        MentorsHub. Congratulations on taking this significant step towards
        personal and professional growth.
      </p>
      <p>
        {{mentor.firstName}} has reviewed your application and believes in your
        potential. They are eager to guide you on your tech journey and help you
        achieve your goals. This mentorship opportunity is a fantastic chance to
        gain valuable insights, enhance your skills, and make strides in your
        tech career
      </p>
      <p>Here's what you can do next:</p>

      <p>
        <b>Schedule Your First Session:</b> Set a date and time to kick-start
        your mentorship journey.
      </p>
      <p></p>

      <p>
        <b>Plan ahead: </b>Think about the topics you'd like to cover during
        your mentorship sessions. Being prepared will help you make the most of
        your time with your mentor.
      </p>
      <p>
        <b>Stay Engaged:</b> Stay engaged and proactive during your mentorship.
        The more you put into it, the more you'll get out of it.
      </p>
      <p>
        <b>Celebrate Your Achievements:</b> Throughout your mentorship journey,
        celebrate your achievements, both big and small. Every step forward is a
        win.
      </p>
      <p>
        We're thrilled to see you embark on this mentorship experience. If you
        have any questions or need assistance along the way, don't hesitate to
        reach out to our support team at support@mentorshub.io . We're here to
        support you in every aspect of your mentorship.
      </p>
      <p>
        Thank you for choosing MentorsHub for your mentorship journey. Here's to
        a future filled with growth and success!
      </p>

      <a href="https://www.mentorshub.io">
        <button
          style="
            background-color: rgba(53, 60, 247, 0.9);
            color: white;
            border-radius: 10px;
            border-color: rgba(53, 60, 247, 0.9);
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 2%;
            padding-right: 2%;
            font-weight: bold;
            margin-top: 2%;
          "
        >
          Visit our platform
        </button>
      </a>

      <p>Warm regards,</p>
      <p>The MentorsHub Team.</p>
    </div>

    <footer
      style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large"
    >
      This email was sent from
      <span style="color: rgba(53, 60, 247, 0.9)">MentorsHub</span>. If you'd
      rather not recieve this kind of email, you can
      <span style="color: rgba(53, 60, 247, 0.9)">unsubscribe</span> or
      <span style="color: rgba(53, 60, 247, 0.9)">
        manage your email preferences</span
      >.

      <br />
      <br />
      © 2023 MentorsHub

      <div style="margin-top: 4%">
        <img
          src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
          alt=""
          width="100"
          height="18"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215405/mentored/images/correct_twitter_icon_eu8egb.png"
          alt=""
          width="20"
          height="20"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215397/mentored/images/correct_instagram_icon_dpwmzg.png"
          alt=""
          width="20"
          height="20"
        />
        <img
          style="float: right; margin: 1%"
          src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215392/mentored/images/correct_facebook_icon_sqy0t0.png"
          alt=""
          width="20"
          height="20"
        />
      </div>
    </footer>
  </body>
</html>
