<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Email Verification</title>
  </head>
  <body style="padding: 2%; color: black">
    <a href="https://www.mentorshub.io">
      <img
        style="margin: 5%; margin-bottom: 10px"
        src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
      alt="mentored_logo"
      width="180px"
      height="30px"
    />
    </a>
    <h1 style="margin-left: 5%; margin-top: 2%"><b>Dear {{firstName}},</b></h1>
    <div style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large">
      <p style="color: black;">
      Thank you for registering with mentorshub. To
ensure the security of your account complete the registration process, we
need to verify your email address.
</p>

<p style="color: black;">Please click on the confirm button to verify your email.</p>

<p style="color: black;">
Please note that this link is
valid for the next 5 minutes. After this period, you will need to request a new
verification email. 
</p>

<p style="color: black;">Thank you for choosing mentorshub. If
you have any questions or need further assistance, please contact our support
team at support@mentorshub.io. 

      </p>



      <a href="{{email_verification_url}}">
        <button
          style="
            background-color: rgba(53, 60, 247, 0.9);
            color: white;
            border-radius: 10px;
            border-color: rgba(53, 60, 247, 0.9);
            padding: 1% 1%;
            margin-bottom: 2%;
            font-weight: bold;
            margin-top: 2%;
            width: 80px;
            text-align: center;
            height: inherit;
          "
        >
          confirm
				</button>
      </a>
      <p>Best regards,</p>
      <p>The MentorsHub Team.</p>
    </div>

    <footer
      style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large"
    >
      This email was sent from
      <span style="color: rgba(53, 60, 247, 0.9)">MentorsHub</span>. If you'd
      rather not recieve this kind of email, you can
      <span style="color: rgba(53, 60, 247, 0.9)">unsubscribe</span> or
      <span style="color: rgba(53, 60, 247, 0.9)">
        manage your email preferences</span
      >.

      <br />
      <br />
      © 2023 MentorsHub

<div style="margin-top: 4%">
  <img
    src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
    alt=""
    width="100"
    height="18"
  />

  <img
    style="float: right; margin: 1%"
    src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215405/mentored/images/correct_twitter_icon_eu8egb.png"
    alt=""
    width="20"
    height="20"
  />
  <img
    style="float: right; margin: 1%"
    src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215397/mentored/images/correct_instagram_icon_dpwmzg.png"
    alt=""
    width="20"
    height="20"
  />
  <img
    style="float: right; margin: 1%"
    src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215392/mentored/images/correct_facebook_icon_sqy0t0.png"
    alt=""
    width="20"
    height="20"
  />
</div>

</body>

</html>