<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>welcome</title>
  </head>
  <body style="padding: 2%; color: black">
    <a href="https://www.mentorshub.io">
      <img
        style="margin: 5%; margin-bottom: 10px"
        src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
      alt="mentored_logo"
      width="180px"
      height="30px"
    />
    </a>
    <div
      style="
        margin: 2%;
        width: 95%;
        max-width: 95%;
        height: 30vh;
        overflow: hidden;
      "
    >
      <img
        style="object-fit: cover; margin: 3%"
        src="https://res.cloudinary.com/dqezpdvy9/mentored/images/waitlistbanner"
        alt=""
        width="100%"
        height="100%"
      />
    </div>
    <h1 style="margin-left: 5%; margin-top: 2%"><b>Hi {{firstName}},</b></h1>
    <div style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large">
      <p>
        We're glad to have you onboard! You're already on your way to creating
        an impact in the tech space.
      </p>
      <p>
        Whether you're here for your brand, for a course, or for networking -
        welcome! If there's anything you need, we'll be here to help you on
        every step of the way.
      </p>
      <p>Kindly click the Verify button to get authenticated.</p>

      <a href="{{email_verification_url}}">
        <button
          style="
            background-color: rgba(53, 60, 247, 0.9);
            color: white;
            border-radius: 10px;
            border-color: rgba(53, 60, 247, 0.9);
            padding: 1% 2%;
            margin-bottom: 2%;
            font-weight: bold;
            margin-top: 2%;
            width: 80px;
            text-align: center;
            height: inherit;
          "
        >
          Verify
				</button>
      </a>
      <p>Best regards,</p>
      <p>The MentorsHub Team.</p>
    </div>

    <footer
      style="margin: 5%; margin-top: 2%; max-width: 100%; font-size: large"
    >
      This email was sent from
      <span style="color: rgba(53, 60, 247, 0.9)">MentorsHub</span>. If you'd
      rather not recieve this kind of email, you can
      <span style="color: rgba(53, 60, 247, 0.9)">unsubscribe</span> or
      <span style="color: rgba(53, 60, 247, 0.9)">
        manage your email preferences</span
      >.

      <br />
      <br />
      © 2023 MentorsHub

<div style="margin-top: 4%">
  <img
    src="https://res.cloudinary.com/dqezpdvy9/mentored/images/mentorshublogo"
    alt=""
    width="100"
    height="18"
  />

  <img
    style="float: right; margin: 1%"
    src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215405/mentored/images/correct_twitter_icon_eu8egb.png"
    alt=""
    width="20"
    height="20"
  />
  <img
    style="float: right; margin: 1%"
    src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215397/mentored/images/correct_instagram_icon_dpwmzg.png"
    alt=""
    width="20"
    height="20"
  />
  <img
    style="float: right; margin: 1%"
    src="https://res.cloudinary.com/dqezpdvy9/image/upload/v1699215392/mentored/images/correct_facebook_icon_sqy0t0.png"
    alt=""
    width="20"
    height="20"
  />
</div>

</body>

</html>